{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Felia's Website</title>
</head>
<body>
    
  <link rel="stylesheet" type="text/css" href=" {% static 'personalweb/web.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <div class ="bg3">

    <div class="kolom" style= "text-align: center">
      <br><br><br><br><br><br><br><br><br>
      <p class="profil">Kontak</p>
    </div>

    <div class="kolom" style= "text-align: center">

      <div id="nav" style="color: black">
        {% block content %} {% endblock %}
      </div>
        {% include 'navbar.html' %}
        <br><br>
        <img class=email src="https://png.icons8.com/metro/1600/email.png">
        <p class="teks3">feliarisky23@gmail.com</p>
        <br>
        <img class=tlp src="http://pngimage.net/wp-content/uploads/2018/06/telepon-logo-png-5.png">
        <p class="teks3">087738332888 </p>
        <br>
        <img class=line src="http://renflorist.com/wp-content/uploads/2017/06/line-logo-1.png">
        <p class="teks3">feliaaarf </p>
        <br>
        <img class=insta src="https://www.edigitalagency.com.au/wp-content/uploads/Instagram-logo-black-borders-png-transparent-background.png">
        <p class="teks3">_feliarf </p>
        <br>
        <img class=twitter src="https://png.icons8.com/metro/1600/twitter.png">
        <p class="teks3">feliarf</p>
        
    </div>
  </div> 

</body>
</html>