{% load static %}
{% block content %}
<ul class="nav justify-content-end">
			          <li class="nav-item">
			          <a class="nav-link active" href=".." id="home">Home</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link active" href="../profil" id="profil1">Profil</a>
			          </li>
			          <li class="nav-item"https://image.ibb.co/cWQszz/preview.jpg>
			            <a class="nav-link active" href="../kemampuan" id="kemampuan">Kemampuan</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link active" href="../kontak" id="kontak">Kontak</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link active" href="../form" id="form">Form</a>
			          </li>
					  <li class="nav-item">
			            <a class="nav-link active" href="../scheduleInput" id="jadwal">Form Jadwal</a>
			          </li>
					  <li class="nav-item">
			            <a class="nav-link active" href="../scheduleCall" id="result">List Jadwal</a>
			          </li>
</ul>
{% endblock %}