{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Felia's Website</title>
	
	
</head>
<body style="background-color : #BFF1BC ">
	{% csrf_token %}
	<link rel="stylesheet" type="text/css" href=" {% static 'personalweb/web.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div id="nav">
       {% block content %} {% endblock %}
  </div>
        {% include 'navbar.html' %}

	<div style="margin: 5% 5%">
		<h2>List Jadwal</h2>
		<br>
		<div style="width: 80%">
			<table class="table" border="#BCACBC" style="width: 100%">
				<tr bgcolor="#9EE49F">
					<th style="width: 10%">Hari</th>
					<th style="width: 18%">Tanggal</th>
					<th style="width: 12%">Jam</th>
					<th style="width: 30%">Kegiatan</th>
					<th style="width: 15%">Tempat</th>
					<th style="width: 15%">Kategori</th>
				</tr>
				{% for e in jadwal %}
					
					<tr bgcolor="E2CDE2">
						<td>{{e.hari}}</td>
						<td>{{e.tanggal}}</td>
						<td>{{e.jam}}</td>
						<td>{{e.nama_kegiatan}}</td>
						<td>{{e.tempat}}</td>
						<td>{{e.kategori}}</td>
					</tr>
				{% endfor %}
			</table>
			<a href = "../scheduleDelete" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Hapus Jadwal</a>
		</div>
		
	</div>
</body>
</html>