{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Felia's Website</title>
	
	
</head>
<body style="background-color : #BFF1BC "">
	{% csrf_token %}
	<link rel="stylesheet" type="text/css" href=" {% static 'personalweb/web.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div id="nav">
       {% block content %} {% endblock %}
  </div>
        {% include 'navbar.html' %}
	
	
	
	<div style="margin: 3% 5%">
	       		<section  name="form">
	       			<h2> Input Your Schedule Here</h2>
	       			<form method="POST" action="firstweb : schedule_input">
	       			{% csrf_token %}
	       			{{ jadwal.as_p }}
					<button type="submit" class="btn btn-default">Submit</button>
	       			<br>
	       			</form>
	       		</section>
	</div>	    
</body>
</html>