{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Felia's Website</title>
	
	
</head>
<body>
	
	<link rel="stylesheet" type="text/css" href=" {% static 'personalweb/web.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<div class ="bg">

		<div class="kolom" style= "text-align: center">
			<br><br><br><br><br><br><br><br><br>
			<p class="profil">Profil</p>
		</div>
		<div class="kolom" style= "text-align: center">

				<div id="nav">
			        {% block content %} {% endblock %}
			    </div>
			    	{% include 'navbar.html' %}
				<br>
				<img class=people src="https://image.ibb.co/frV8Pz/IMG20180709103725_Copy.jpg" width="50px" height="50px">
				<br><br>
				<p class="teks1">Halo! Nama saya Felia Risky Faizal, biasa dipanggil Felia.</p>
				<p class="teks1">Saya lahir di Jakarta tanggal 23 Juni 1999.</p>
				<p class="teks1">Saat ini saya merupakan seorang mahasiswa </p>
				<p class="teks1">semester tiga di Fakultas Ilmu Komputer UI. </p>
				<p class="teks1">Saya merupakan pribadi yang bertanggung jawab dan sangat terencana. </p>
				<p class="teks1">Motto hidup  yang selalu saya pegang adalah</p>
				<p class="teks1">"Siapa yang bersungguh-sungguh pasti akan berhasil".</p>
				<p class="teks1">Hal-hal yang sangat saya sukai yaitu musik, novel, dan travelling.</p>
		</div>
	</div>	

</body>
</html>